################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectLesson/.vs/ProjectLesson/FileContentIndex/0328c073-f030-4b14-b35a-2f9447c1f2ca.vsidx
