################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjectLesson/.vs/ProjectLesson/FileContentIndex/0328c073-f030-4b14-b35a-2f9447c1f2ca.vsidx
/ProjectLesson/.vs/ProjectLesson/FileContentIndex/2adb0c80-6d82-4c8f-976c-ef2e6c46b93b.vsidx
/ProjectLesson/.vs/ProjectLesson/FileContentIndex/32046673-0c3d-4752-84fa-bc340962359f.vsidx
/ProjectLesson/.vs/ProjectLesson/FileContentIndex/7cccfb8c-9a33-4225-ab65-1b14c1658ba7.vsidx
/ProjectLesson/.vs/ProjectLesson/FileContentIndex/b5b44f25-f7a2-4fc2-b8a6-6acae87e1ac2.vsidx
